*{
    margin: 0;
    padding: 0;
}
*{
    max-height: "100dvh"
}
.back{
    position: absolute;
    min-width: max-content;
    perspective: 900px;
  
}

.parentfi{
    position: absolute;
    margin-top:  -5rem;
    margin-left: 34rem;
    width: 750px;
    height: 250px;
    transform-origin: bottom;
    transform:  rotatex(50.4deg) rotate(-105deg);
    z-index: -1;
}


.name{
    margin-left: 10rem;
    text-align: center;
    font-size: 5rem;
    transform-origin: bottom;
    transform-style: preserve-3d;
    animation: anim 5s ease-in-out alternate  infinite;
   
    
}
.name:hover{
    animation: anim 5s ease-in-out alternate  infinite;
}
.first{
   margin-top: 40rem;
}
.second{
    margin-top: 17rem;
 }
 .third{
    margin-top: 0;
 }
 .fourth{
    margin-top: 20rem;
 }
 .fifth{
    margin-top: 40rem;
 }
 .sixth{
    margin-top: 45rem;
 }
 .seventh{
    margin-top: 55rem;
 }
 .eigth{
    margin-top: 65rem;
 }





@keyframes anim{
    0%{
        transform: rotateY(0deg);
        color: rgb(84, 94, 100);
        text-shadow: 0 2px 2px rgb(69, 16, 16), 
        4px  1px rgb(69, 16, 16),
        6px  1px rgb(69, 16, 16), 
        8px  1px rgb(69, 16, 16), 
        10px  1px rgb(69, 16, 16), 
        12px  1px rgb(69, 16, 16), 
        14px  1px rgb(69, 16, 16), 
        16px  1px rgb(69, 16, 16), 
        18px  1px rgb(69, 16, 16), 
        20px  1px rgb(69, 16, 16)
    }
    100%{
        color: rgb(25, 25, 25);
        transform:  rotateY(10deg);
        text-shadow: 0  2px rgb(101, 58, 58), 
        -2px  1px rgb(101, 58, 58),
        -4px  1px rgb(101, 58, 58), 
        -6px  1px rgb(101, 58, 58), 
        -8px  1px rgb(101, 58, 58), 
        -10px  1px rgb(101, 58, 58), 
        -12px  1px rgb(101, 58, 58), 
        -14px  1px rgb(101, 58, 58), 
        -16px  1px rgb(101, 58, 58), 
        -18px  1px rgb(101, 58, 58)
    }
}