*{
    max-height: "100dvh"
}
.parent{
    text-align: center;
    width: fit-content;
    margin-left: 8%;
    
}
.levels{
    max-width: 380px;
    border-radius: 1rem;
    margin: 1rem;
}
.levelsactive{

    max-width: 380px;
    border-radius: 1rem;
    margin: 1rem;
    filter : blur(6px)
}
.CardImg{
max-width: 100%;
box-shadow: 0 0 10px #041E42,
0 0 30px #041E42,
0 0 60px #041E42;
background-color: #041E42;

}
.Levelname{
    padding: 0 auto;
    margin: 0 auto;
    font-size: 4.5rem;
    margin-left: 12rem;
    color:  #000;;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #7d8b8e;
}
@media (min-width: 969px){
.levels:hover{
    transform: scale(105%);
   
}
.parent:hover .levels:not(:hover){
    transform: scale(90%);
    filter: blur(3px);
    z-index: 0;
}
.levels:not(:hover) .place{
    display: none;
}
.backColor:hover{
    opacity: 0.5;
}
.place{
    position:absolute;
    margin-left:8%;
    margin-top: -32rem;
    padding: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 4rem;
    z-index: 2;
    letter-spacing: 2px;
    font-weight: 900;
    color: #041E42;
    text-shadow: -1px -1px 3px rgb(1, 19, 24), 
    2px 2px 4px  #0c3670;
}
}

.Imgplace.levels{
    min-width:  450px;
    margin-top: -15%;
}
.scoffee{
    position:absolute;
    margin-top: 450px;
    margin-left: 410px;
}
.lock{
    position: absolute;
    display: inline;
    margin-top: -20%;

}
.totalbuna{
    position: absolute;
    left: 90%;
    display:flex;
    gap: 10px;
}
.LeftArrow{
    position: fixed;
    margin-left: 3%  ;
    z-index: 3;
    opacity: 1;
    top: 50%;
    transform: translateY( -50%);
}
.RightArrow{
    position: fixed;
    margin-right: 3%;
    z-index: 3;
    opacity: 1;
    top: 50%;
    transform: translateY( -50%);
}
.backColor{
    position: fixed;
    background-color: #ffff;
    opacity: 0.3;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 3;
    top: 50%;
transform: translateY( -50%);
}


.ExtraGame {
    position: relative;
    width: 10em;
    height: 3.5em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #ddebf0;
    left: 50%;
transform: translateX(-50%);
margin-top: 0.5rem;
  }
  
   #clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
  }
  .ExtraGame:hover #rightArrow {
    left: 102%;
    animation:none;
    background-color: #27c39f;
  }
  .ExtraGame:hover #leftArrow  {
    left: -13.5%;
    animation:none;
    background-color: #27c39f;
  }
  .ExtraGame #rightArrow {
    background-color: #2761c3;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  .ExtraGame #leftArrow {
    background-color: #2761c3;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  .ExtraGame:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .ExtraGame:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .ExtraGame:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .ExtraGame:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  .ExtraGame:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  .ExtraGame:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
  }
  
  @keyframes changeColor8 {
    from {
      background-color: #2781c3;
    }
  
    to {
      background-color: #27c39f;
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #27c39f;
    }
  
    to {
      box-shadow: 0 0 2px #27c39f;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #27c39f;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  
  
  



@media (max-width: 1000px){
    .place{
        display: none;
    }
}


@media(max-width: 600px){
    .parent{
        margin: 0;
    }
    .levels{
        width: 370px;
        margin: 0;
        margin-left: 2rem;
    }
    .lock{
        margin-top: -60%;
    
    }
    .totalbuna{
        left: 85%;
    }
    .Levelname{
        margin-top: 1rem;
    }
    .place{
        display: none;
    }
    .levelsactive{
        width: 370px;
        margin: 0;
        margin-left: 2rem;
    }
}